<!doctype html>
<html>
<head>
    <title>To-do list</title>
    <meta charset="UTF-8">
    <!-- The core React library -->
    <script src="https://fb.me/react-0.14.3.js"></script>
    <!-- The ReactDOM Library -->
    <script src="https://fb.me/react-dom-0.14.3.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <script type="text/jsx">
    var App = React.createClass({
      render:function(){
        return <h1>To-do list</h1>
      }
    });

    React.render(<App />, document.body);
  </script>
</body>
</html>