<!doctype html>
<html>
<head>
    <title>To-do list</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>

  <div id="hello"></div>
  <div id="world"></div>


  <script>
    window.user = <%- JSON.stringify(user.facebook) %>;
  </script>

  <script src="app.js"></script>

</body>
</html>